
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512da8;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

header
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 240px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #9575cd;  
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

h3 {
    padding: none;
    margin: 0px auto;

}

.media {
    display: flex; 
}

img {
    margin-right: 10px; 
}

.img-fluid {
    display: flex; 
}

.badge-danger {
    background-color: rgb(211, 35, 35);
}

.badge-pill {
    background-color: rgb(102, 98, 98);
}

.active {
    font-weight: bold !important;
    color: #ffff !important;
}

.bg-warning {
    width: 100%;
}

.btn-sm a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .btn-sm {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }
}

.media {
    margin-top: 30px;
}

    .carousel-inner {
    background: #1a237e;  
    top: 0;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .carousel .item {
    height: 300px;
  }

.carousel .item img {
    min-height: 300px;
    max-width: 300px;
    position: absolute;
    top: 0;
  }

  #carouselButton {
      right: 0px;
      position: absolute;
      bottom: 0px;    
      z-index: 1;
      margin-bottom: 50px;
      margin-right: 12px;
  }

  .carousel-caption h2 {
      color: white;
      font-weight: bold;
      padding-bottom: 20px;
      font-size: 40px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.336);
  }

  .carousel-caption p {
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.336);
}

.carousel-indicators {
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
   
  .carousel-caption h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.carousel .item {
    height: 200px;
  }

.carousel .item img {
    min-height: 200px;
    max-width: 200px;
    position: absolute;
    top: 0;
  }
  
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;    
    z-index: 1;
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
    margin-right: 12px;
}

}